$border-radius: 10px;
$base-color: #bdddfc;
$base-color__hover: #9fceff;
$base-color__active: #359dff;
$border-color: #88bffc;
$separator-color: #24242421;
$padding: 10px;
$base-vertical-padding: 15px 0 15px 0;
$danger-color: #e66159;
$danger-color-hover: #e84940;
$danger-border: #d91f13;
$full-width: 100%;
$full-height: 100%;
